<div class = "table-responsive mt-2" *ngIf="!isActive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>username</th>
                <th>lastname</th>
                <th>matricule</th>
                <th>shipping Address</th>
                <th>tel</th>
                <th>role</th>
                <th>N°CNI</th>
                <th>Location Address</th>
                <th>Created At</th>
                <th> </th>
                <th> </th>
                
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor = 'let user of users|async'>
                <td></td>
                <td>{{user.username}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.matricule}}</td>
                <td>{{user.shippingAddress}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.role}}</td>
                <td>{{user.cni}}</td>
                <td>{{user.locationAddress}}</td>
                <td>{{user.createdAt}}</td>

                <td>
                    <a class="btn btn-danger" 
                            (click)="deleteUser(user.id, user.username)"
                            >
                        Delete
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" (click)="editUser(user.id)">
                        Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="isActive">

    <div class="row">
    <div class="col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Update </h3>
            </div>
            <div class="card-body">
                <form novalidate (ngSubmit)="updateUser(signupform.value,user.id)" #signupform = "ngForm" >
         
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Username</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.username" class="form-control"  name ="username">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Lastname</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.lastname" class="form-control"  name ="lastname">
                        </div>
                    </div>
                
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Tel</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.tel" class="form-control" name="tel">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Shipping Address</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.shippingAddress" class="form-control" name="address">
                        </div>
                    </div>


                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Matricule</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.matricule" class="form-control" name="matricule">
                        </div>
                    </div>
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Location Address</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="user.locationAddress" class="form-control" name="address">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">N° CNI</label>
                        <div class="col-8">
                            <input type="password" [(ngModel)]="user.cni" class="form-control" name="matricule">
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Role</label>
                        
                      <div class="col-8">
                        <select [(ngModel)]="user.role" name ="role" class="form-select">
                            <option value="ADMIN">ADMIN</option>
                            <option value="STAFF">STAFF</option>
                            <option value="CAMRAIL">CAMRAIL</option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex mt-2 justify-content-between">
                        <button type="submit" [disabled]="!signupform.valid" class="btn btn-primary">Save</button>
                        <button class = "btn btn-danger float-left" (click)="setActive()">Cancel</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


</div>
</div>