<h1> hello {{username}} {{matricule}}</h1>

<div class="my-3 d-flex" >
    
    <div><a class="btn btn-primary mx-2" routerLink="/staffHome/camrailsList"> users List </a></div>
    <div><a class="btn btn-primary mx-2" routerLink="/staffHome/saveItem"> saveItem </a></div>
    <div><a class="btn btn-primary mx-2" routerLink="/staffHome/itemsList"> items List </a></div>
    <div><a class="btn btn-primary mx-2" routerLink="/staffHome/commandsList"> command List </a></div>

</div>
<router-outlet></router-outlet>
