<div class="d-flex flex-column">
    <div class="row col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Total Amount encountered 
                </h3>
            </div>
            <div class="card-body">
                <h2> {{amountEncountered}} </h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="row col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Total Number of Camrails 
                </h3>
            </div>
            <div class="card-body">
                <h2> {{totalCamrails}} </h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="row col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Total Number of Staffs 
                </h3>
            </div>
            <div class="card-body">
                <h2> {{totalStaffs}} </h2>
            </div>
        </div>
    </div>

    <hr>
    <div class="row col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Total Number of Admins 
                </h3>
            </div>
            <div class="card-body">
                <h2> {{totalAdmins}} </h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="row col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Total Numbers of Commands in 24h 
                </h3>
            </div>
            <div class="card-body">
                <h2> {{todayCommands}} </h2>
            </div>
        </div>
    </div>

    <div>
    </div>
</div>