<h1 class="header text-center">hello {{username}} {{matricule}} </h1>
<div class="my-3 d-flex justify-content-between btn btn-group" >
    <a class="btn btn-primary" routerLink="/camrailHome/camrailItemsList">articles' list </a>
    <a class="btn btn-primary" routerLink="/camrailHome/camrailNewBill" (click)="addBill()"> new Invoice </a>
    <a class="btn btn-primary" routerLink="/camrailHome/camrailDetailsBill"> active Invoice </a>
    <a class="btn btn-primary" routerLink="/camrailHome/myBills"> My Commands </a>
    <button class="btn btn-success" (click)="validateBill()" id="validateTag"> Validate Invoice</button>
    <button class="btn btn-secondary" (click)="logout()"> logout </button>

</div>


<router-outlet></router-outlet>
<footer >
    <div>
         contact Us : 699-847-383
    </div>
    <div>
        email : lydiengome81@gmail.com
    </div>
</footer>