
<div class="d-flex flex-wrap justify-content-between btn btn-group" >
    <a class="btn btn-primary" routerLink="/camrailHome/camrailItemsList">Articles' List </a>
    <a class="btn btn-primary" routerLink="/camrailHome/camrailNewBill" (click)="addBill()"> New Invoice </a>
    <a class="btn btn-primary" routerLink="/camrailHome/camrailDetailsBill"> Active Invoice </a>
    <a class="btn btn-primary" routerLink="/camrailHome/myBills"> My Commands </a>
    <a class="btn btn-primary" routerLink="/camrailHome/profile" >Profile</a>
    <button class="btn btn-secondary" (click)="logout()"> Logout </button>

</div>




<router-outlet></router-outlet>