<div class="text-center d-flex">
    
    <div class="form-group row mx-2">
        <div class="col-8">
            <input class="form-control" id="myInput" type="text" placeholder="Search an item ...">
        </div>
    </div>  
</div>
<h1 class="text-center"> hello {{username}} {{matricule}}</h1>
    <div class="d-flex my-3 flex-wrap">
        <a class="btn btn-primary" routerLink="/adminHome/saveUser"> saveUser</a>
        <a class="btn btn-primary" routerLink="/adminHome/usersList"> usersList</a>
            
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Item
            </button>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/adminHome/saveItem"> save Item </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/adminHome/itemsList"> items List </a></li>
            </ul>
        </div>

        <a class = "btn btn-primary" routerLink = "/adminHome/saveSupplier"> Supplier </a> 
        
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Stock
            </button>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/adminHome/stock"> action on Stock </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/adminHome/globalStock"> Global stock  </a></li>
            </ul>
        </div>
        
        <a class = "btn btn-primary" routerLink = "/adminHome/commandsList"> command List </a>
        <a class = "btn btn-primary" routerLink = "/adminHome/statistics"> statistics </a>
                
        <button class="btn btn-secondary" (click)="logout()"> logout </button>
        
        
    </div>


<router-outlet></router-outlet>