<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li class="dropdown">
            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown">User</a>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a class="" routerLink="/adminHome/saveUser"> saveUser</a></li>
                <li class="dropdown-item" ><a class="" routerLink="/adminHome/usersList"> usersList</a></li>
            </ul>
        </li>
        <li>
            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown">Item</a>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/adminHome/saveItem"> Save Item </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/adminHome/itemsList"> Items List </a></li>
            </ul>
        </li>
        
        <li class="dropdown"> 
            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown"> Stock </a>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/adminHome/stock"> Action On Stock </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/adminHome/globalStock"> Global Stock  </a></li>
            </ul>
        </li>
        <li> <a routerLink = "/adminHome/saveSupplier"> Supplier </a> </li>
        <li> <a routerLink = "/adminHome/commandsList"> Command List </a> </li>
        <li> <a routerLink = "/adminHome/statistics"> Statistics </a> </li>
        <li> <a routerLink = "/adminHome/profile"> Profile </a> </li>
        <li > <a (click)="logout()"> Logout</a> </li>
    </ul>
</nav>

<router-outlet></router-outlet>
