<b class="my-3 text-center">You have to choose one mode of selection in order to 
    display the list of the given type of items
</b>
<div class="row">
    <div class="col-auto btn btn-group">
        <button class="btn btn-secondary" (click)="setEB()">Exercise Book</button>
        <button class="btn btn-secondary" (click)="setB()">Text Book</button>
        <button class="btn btn-secondary" (click)="setA()">Accessory</button>       
    </div>
    
</div>
<div class="table-responsive mt-2" *ngIf="activeBlock==='table'">
    <table class="table table-striped" *ngIf="isActive === 'EXERCISE_BOOK'">
        <thead>
            <tr>
                <th>N° </th>
                <th>designation</th>
                <th>pages</th>
                <th>shape</th>
                <th>type</th>
                <th>quantity</th>
                <th>mark</th>
                <th>price</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let item of exerciseBooks|async">
                <td> </td>
                <td>{{item.designation}}</td>
                <td>{{item.pages}}</td>
                <td>{{item.shape}}</td>
                <td>{{item.type}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.mark}}</td>
                <td>{{item.price}}</td>
                <td>{{item.createdAt}}</td>
                <td>
                    <a class="btn btn-danger" (click)="deleteExerciseBook(item.id)">
                        Delete
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" (click)="editExerciseBook (item.id)">
                        Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped" *ngIf="isActive === 'BOOK' ">
        <thead>
            <tr>
                <th>N° </th>
                <th>level</th>
                <th>designation</th>
                <th>publisher</th>
                <th>author</th>
                <th>section</th>
                <th>quantity</th>
                <th>price</th>
                <th>Created At</th>

            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let item of books|async">
                <td> </td>
                <td>{{item.level}}</td>
                <td>{{item.designation}}</td>
                <td>{{item.publisher}}</td>
                <td>{{item.author}}</td>
                <td>{{item.section}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.createdAt}}</td>
                <td>
                    <a class="btn btn-danger" (click)="deleteBook(item.id)">
                        Delete
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" (click)="editBook(item.id)">
                        Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped" *ngIf="isActive === 'ACCESSORY'">
        <thead>
            <tr>
                <th>N° </th>
                <th>designation</th>
                <th>mark</th>
                <th>quantity</th>
                <th>price</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let item of accessories|async">
                <td> </td>
                <td>{{item.designation}}</td>
                <td>{{item.mark}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.createdAt}}</td>
                <td>
                    <a class="btn btn-danger" (click)="deleteAccessory(item.id)">
                        Delete
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" (click)="editAccessory(item.id)">
                        Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="activeBlock==='editExerciseBook'" class="row">

    <div class="col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Update</h3>
            </div>
            <div class="card-body">
                <form novalidate (ngSubmit)="updateExerciseBook(signupform.value,exerciseBook.id)" #signupform = "ngForm" >
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Designation</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="exerciseBook.designation" class="form-control"  name ="designation">
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Price</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="exerciseBook.price" class="form-control"  name ="designation">
                        </div>
                    </div>
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Mark</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="exerciseBook.mark" class="form-control" name="mark">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Type</label>
                        <div class="col-8">
                            <select name="type" [(ngModel)]="exerciseBook.type" class="form-select">
                                <option *ngFor="let t of types" value="{{t}}">{{t}}</option>
                            </select>                    
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Shape</label>
                        <div class="col-8">
                            <select name="shape" [(ngModel)]="exerciseBook.shape" class="form-select">
                                <option *ngFor="let s of shapes" value="{{s}}">{{s}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Pages</label>
                        <div class="col-8">
                            <select name="pages" [(ngModel)]="exerciseBook.pages" class="form-select">
                                <option *ngFor="let p of pages" value="{{p}}">{{p}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary float-center mt-2">Save</button>

                </form>
            </div>
        </div>
    </div>

</div>
<!-- edit book -->
<div *ngIf="activeBlock==='editBook'" class="row">

    <div class="col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Update</h3>
            </div>
            <div class="card-body">
                <form novalidate (ngSubmit)="updateBook(signupform.value,book.id)" #signupform = "ngForm" >
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Designation</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="book.designation" class="form-control"  name ="designation">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Price</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="book.price" class="form-control"  name ="price">
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Level</label>
                        <div class="col-8">
                            <select  name="level" [(ngModel)]="book.level" class="form-select">
                                <option *ngFor="let l of levels" value="{{l}}">{{l}}</option>
                            </select>                    
                        </div>
                    </div>
                   
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Section</label>
                        <div class="col-8">
                            <select name="section" [(ngModel)]="book.section" class="form-select">
                                <option *ngFor="let s of sections" value="{{s}}">{{s}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Publisher</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="book.publisher" class="form-control" name="publisher">
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Author</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="book.author" class="form-control" name="author">
                        </div>
                    </div>
      
                    
                    <button type="submit" class="btn btn-primary float-center mt-2">Save</button>

                </form>
            </div>
        </div>
    </div>

</div>
<!-- accessory  -->
<div *ngIf="activeBlock==='editAccessory'" class="row">

    <div class="col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">Update </h3>
            </div>
            <div class="card-body">
                <form novalidate (ngSubmit)="updateAccessory(signupform.value,accessory.id)" #signupform = "ngForm" >
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Designation</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="accessory.designation" class="form-control" name ="designation" >
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Price</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="accessory.price" class="form-control"  name ="price">
                        </div>
                    </div>
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Mark</label>
                        <div class="col-8">
                            <input type="text" [(ngModel)]="accessory.mark" class="form-control" name="mark">
                        </div>
                    </div>
                    <button type="submit" [disabled]="!signupform.valid" class="btn btn-primary float-center mt-2">Save</button>

                </form>
            </div>
        </div>
    </div>

</div>

