
<div class="table-responsive mt-2" *ngIf="isActive==='commandList'" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N° </th>
                <th>Date</th>
                <th>Total Items</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody  id="myTable">
            <tr *ngFor="let command of commands">
                <td> </td>
                <td>{{command.createdAt}}</td>
                <td>{{command.totalItems}}</td>
                <td>{{command.totalAmount}}</td>
                <td>{{command.status}}</td>
                <td>
                    <a class="btn btn-primary" (click)="commandDetails (command.id,command.totalItems,command.totalAmount,command.createdAt)">
                        view command
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="isActive ==='detailsCommand'" class="printCommand">
    <h1>La Colombe Invoice Summary</h1>
    <div class="d-flex">
        <div>
            <b>
                <h3 class="mx-3">Client: {{user.username}}</h3>
                <h3 class="mx-3">Matricule: {{user.matricule}}</h3>
                <h3 class="mx-3">Tel:  {{user.tel}}</h3>
                <h3 class="mx-3">Shipping Address : {{user.shippingAddress}}</h3>

         </b> 
         </div>
        <div>
           <b>
            <h3 class="mx-3">Date : {{date}}</h3>
            <h3 class="mx-3">Total Items : {{totalItems}}</h3>
            <h3 class="mx-3">Total Amount : {{totalAmount}} XAF</h3>
        </b> 
        </div>
        <div>
            <button class="btn btn-secondary" onclick="back()">Back</button>
        </div>
        
    </div>
    <hr>
    <div class="table-responsive mt-2" >
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>N° </th>
                    <th>designation</th>
                    <th>unit price</th>
                    <th>quantity</th>
                    <th>total price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr *ngFor="let item of billItems">
                    <td> </td>
                    <td>{{item.designation}}</td>
                    <td>{{item.unitPrice}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.totalPrice}}</td>
                    
                </tr>
            </tbody>
        </table>

    </div>
    
</div>
