<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
       
        <li>
            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown">Item</a>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/staffHome/saveItem"> Save Item </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/staffHome/itemsList"> Items List </a></li>
            </ul>
        </li>
        
        <li class="dropdown"> 
            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown"> Stock </a>
            <ul class ="dropdown-menu">
                <li class="dropdown-item" ><a routerLink = "/staffHome/stock"> Action On Stock </a>  </li>
                <li class="dropdown-item" ><a routerLink = "/staffHome/globalStock"> Global Stock  </a></li>
            </ul>
        </li>
        <li> <a routerLink = "/staffHome/saveSupplier"> Supplier </a> </li>
        <li> <a routerLink = "/staffHome/camrailsList"> Camrails </a> </li>
        <li> <a routerLink = "/staffHome/commandsList"> Commands </a> </li>
        <li> <a routerLink = "/staffHome/profile"> Profile </a> </li>
        <li > <a (click)="logout()"> Logout</a> </li>
    </ul>
</nav>


<router-outlet></router-outlet>
