<div class = "my-3 text-center">
    <b>
        select the type item's type that you want to save
    </b>

</div>

<div class="btn btn-group">
    <button class="btn btn-secondary" (click)="setEB()">Exercise Book</button>
    <button class="btn btn-secondary" (click)="setB()">Text Book</button>
    <button class="btn btn-secondary" (click)="setA()">Accessory</button>       
</div>

 
<!-- the form used to add items -->
<div class="row my-3">
    <div class="col-md-3 mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0"> Add {{active}}</h3>
                <h6 class="my-2">just fill the empty fields</h6>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveItem(myForm.value,active)" #myForm ="ngForm">
                    
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Designation</label>
                        <div class="col-8">
                            <input type="text" name="designation" placeholder = "enter the designation..." ngModel class="form-control" required>
                        </div>
                    </div>
                    
                    <div class="form-group row mt-2">
                        <label class="col-form-label col-4">Price</label>
                        <div class="col-8">
                            <input type="text" name="price" placeholder = "enter the price..." class ="form-control" required ngModel>
                        </div>
                    </div>
                    <div class="form-group row mt-2" *ngIf="active==='EXERCISE_BOOK' || active==='ACCESSORY'">
                        <label class="col-form-label col-4">Mark</label>
                        <div class="col-8">
                            <input type="text" name="mark" placeholder = "mark" class ="form-control" required ngModel>
                        </div>
                    </div>
                    
                    <div class="form-group row mt-2" *ngIf="active==='EXERCISE_BOOK'">
                        <label class="col-form-label col-4">Type</label>
                        <div class="col-8">
                            <select name="type" ngModel class="form-select">
                                <option *ngFor="let t of types" value="{{t}}">{{t}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-2" *ngIf="active==='EXERCISE_BOOK'">
                        <label class="col-form-label col-4">Shape</label>
                        <div class="col-8">

                            <select name="shape" ngModel class="form-select">
                                <option *ngFor="let s of shapes" value="{{s}}">{{s}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row mt-2" *ngIf="active==='EXERCISE_BOOK'">
                        <label class="col-form-label col-4">Pages</label>
                        <div class="col-8">
                            <select name="pages" ngModel class="form-select">
                                <option *ngFor="let p of pages" value="{{p}}">{{p}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-2" *ngIf="active==='BOOK'">
                        <label class="col-form-label col-4">Author</label>
                        <div class="col-8">
                            <input type="text" name="author" placeholder = "author" class ="form-control" required ngModel>
                        </div>
                    </div>

                    <div class="form-group row mt-2" *ngIf="active==='BOOK'">
                        <label class="col-form-label col-4">Publisher</label>
                        <div class="col-8">
                            <input type="text" name="publisher" placeholder = "publisher" class ="form-control" required ngModel>
                        </div>
                    </div>

                    <div class="form-group row mt-2" *ngIf="active==='BOOK'">
                        <div class="d-flex">
                            
                            <input type="radio" name="anglophone" id="anglophone" (click)="setAnglo()" ngModel>anglophone
                            <input type="radio" name="francophone" id="francophone" (click)="setFranco()" ngModel>francophone
                                            
                        </div>
                    </div>
                    <div class="form-group row mt-2" *ngIf="active==='BOOK'">
                        <label class="col-form-label col-4">Section</label>
                        <div class="col-8">
                            <input type="text" name="section" [(ngModel)]="section" placeholder="click on francophone or an..." class="form-control" required ngModel>
                        </div>
                    </div>
                    <div class="form-group row mt-2" required *ngIf="active==='BOOK'">
                        <label class="col-form-label col-4">Level</label>
                        <div class="col-8">
                            <select  name="level" ngModel class="form-select">
                                <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-2 d-flex justify-content-between" *ngIf="active!=''">
                        <button type="reset" class="btn btn-success mx-3"> Reset </button>
                        <button type="submit" class="btn btn-primary float-right"> Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


